amqp==2.1.4
ansible==2.2.0.0
billiard==3.5.0.2
celery==4.0.2
cffi
Click==7.0
cryptography
Django==1.10.5
django-celery==3.1.17
django-extensions==1.7.5
django-jwt-auth==0.0.2
django-markdown-deux==1.0.5
django-material==0.11.0
django-model-utils==2.6
django-webpack-loader==0.4.1
docker
idna==2.2
Jinja2==2.9.3
kombu==4.0.2
markdown2==2.3.2
MarkupSafe==0.23
mysqlclient
paramiko==2.1.1
pip-tools==3.2.0
psycopg2
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
Pygments==2.1.3
PyJWT==1.4.2
pytz==2016.10
PyYAML==3.12
redis==2.10.5
requests
six==1.10.0
vine==1.1.3
websocket-client==0.40.0
pydbus

