fogglymail._domainkey.{{DOMAIN}} {{DOMAIN}}:fogglymail:/srv/home/etc/opendkim/keys/{{DOMAIN}}.private
fogglymail._domainkey.{{MASTER_DOMAIN}} {{MASTER_DOMAIN}}:fogglymail:/srv/home/etc/opendkim/keys/{{MASTER_DOMAIN}}.private
