env
.direnv
*.pyc
site/www/node_modules/
site/www/bower_components/
site/www/static/
site/www/webpack-stats.json
site/www/assets/bundles/
site/www/persistent/
*.DS_Store
__pycache__
db.sqlite3
npm-debug.log
celerybeat-schedule
