[Unit]
Description=spiped sending for Redis
Wants=network-online.target
After=network-online.target

[Service]
PassEnvironment=REDIS_HOST
ExecStart=/usr/local/start_redis_spiped_client
SyslogIdentifier=redis-spiped

[Install]
WantedBy=multi-user.target
