[Unit]
Description=Apache 2 HTTP Web Server
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /var/log/apache2/
ExecStartPre=/bin/chown www-data.www-data /var/log/apache2/
ExecStart=/usr/sbin/apache2 -DFOREGROUND -k start
User = www-data
Group = www-data
Restart=always
PermissionsStartOnly=true

RuntimeDirectory=apache2

Environment=APACHE_RUN_USER=www-data
Environment=APACHE_RUN_GROUP=www-data
Environment=APACHE_LOCK_DIR=/var/run/apache2/
Environment=APACHE_RUN_DIR=/var/run/apache2/
Environment=APACHE_LOG_DIR=/var/log/apache2
Environment=APACHE_PID_FILE=/var/run/apache2/apache2.pid
PassEnvironment=VHOST_DOMAIN
PassEnvironment=WWW_ROOT
PassEnvironment=WWW_ROOT_SUBDIR

[Install]
WantedBy=multi-user.target
