{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="bs-component">
            <a class="pull-right btn btn-raised btn-primary btn-xs" title="Add new database" href="#">add</a>
        </div>
    </div>
    <div class="row well">
      <div id="databases-table"></div>
      <div id="databases-add"></div>
      {% render_bundle 'databasesmysqlpage' %}
    </div>
</div> <!-- /container -->
{% endblock %}
