{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block content %}
<script>
  if(!window.fConfig){
    window.fConfig = {};
  }
  window.fConfig.appTypes = {
    {% for appType in appTypes %}
    "{{ appType.container_id }}" : "{{ appType.description }}",
    {% endfor %}
  };
</script>
<div class="page-header"></div>
<div class="container">
    <div class="row">
        <div class="bs-component">
            <a class="pull-right btn btn-raised btn-primary btn-xs" id="domain-add-button" title="Add new domain" href="{% url 'domain_add' %}">add</a>
        </div>
    </div>
    <div class="row well">
      <div id="domains-table"></div>
      <div id="domains-add"></div>
      {% render_bundle 'domainstable' %}
    </div>
</div>
{% endblock %}
