{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="page-header"></div>
<div class="container">
    <div class="row">
        <h2 class="form-signin-heading">&nbsp;</h2>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li>Domains</li>
        </ol>
        <div class="bs-component">
            <a class="pull-right btn btn-raised btn-primary btn-xs" title="Add new domain" href="{% url 'domain_add' %}">add</a>
        </div>
    </div>
    <div class="row well">
      <div id="domains-table"></div>
      {% render_bundle 'domainstable' %}
    </div>
</div> <!-- /container -->
{% endblock %}
