{% extends 'base.html' %}

{% block content %}
<div class="page-header"></div>
<div class="container">
    <h2 class="form-signin-heading">&nbsp;</h2>
    <h2 class="form-signin-heading">&nbsp;</h2>
    <div class="row well">
        <div class="col-md-3 col-md-offset-4">
          <form class="form-signin" method="POST" action="{% url 'login' %}">
            <h2 class="form-signin-heading">Please sign in</h2>
            {% csrf_token %}
            {% for field in form %}
            <label for="" class="sr-only">{{ field.label_tag }}</label>
            {{ field }}
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
      </div>
  </div>
</div> <!-- /container -->
{% endblock %}