<ul class="nav navbar-nav">
  {% if user.is_authenticated %}
  {% url 'domains' as domains_url %}
  {% url 'databases' as databases_url %}
  {% if request.get_full_path == home_url %}class="active"{% endif %}
  <li {% if request.get_full_path == domains_url %}class="active"{% endif %}><a href="{{ domains_url }}">Domains</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Databases
   </a>
   <ul class="dropdown-menu">
     <li {% if request.get_full_path == databases_url %}class="active"{% endif %}><a href="{{ databases_url }}">MySQL</a></li>
   </ul>
  </li>
  {% endif %}
</ul>
<ul class="nav navbar-nav navbar-right">
  {% if user.is_authenticated %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Welcome: <b>{{user.username}}</b> <span class="caret"></span>
   </a>
    <ul class="dropdown-menu">
      <li role="separator" class="divider"></li>
      <li><a href="{% url 'logout' %}">Sign Out</a></li>
    </ul>
  </li>
  {% else %}
  <li><a href="{% url 'login' %}">Sign In</a></li>
  <li><a href="#">Register</a></li>
  {% endif %}
</ul>
