[Unit]
Description=Foggly Host Worker
Requires=docker.service
After=docker.service foggly-host-controller.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop host_worker
ExecStartPre=-/usr/bin/docker rm host_worker

ExecStart=/usr/bin/docker run --privileged --stop-signal=RTMIN+3 --name 'host_worker' -h '%H' -v /sys/fs/cgroup:/sys/fs/cgroup:ro -v /srv/_host_worker/log:/var/log -v /srv:/host_srv -v /etc:/host_etc -v /srv/_host_worker:/srv/home/www/persistent -v /srv/_letsencrypt/:/srv/_letsencrypt/ -v /var/run/docker.sock:/var/run/docker.sock -v /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket  -v /var/run/mysqld/:/var/run/mysqld/ -v /var/run/postgresql/:/var/run/postgresql/ --tmpfs /run --tmpfs /tmp -e 'REDIS_HOST=172.17.0.1' -p 3001:3000  foggly/host_worker

ExecStop=/usr/bin/docker stop host_worker

[Install]
WantedBy=default.target
